<div class="container-fluid" id="historia">
  <div class="row">
    <div class="col">
      <p class="text-center" id="header">
        En esta sección vamos a hablar sobre las relaciones encontradas entre arte y ciencia en el Cementerio Central de Bogotá.
        Se va a tratar principalmente los problemas de conservación. Ya que para la conservación se debe tener en cuenta los materiales
        que se usan en la construcción de las obras de arte y la ciencia que se debe aplicar para su conservación.
      </p>
    <hr />
    <div class="row">
      <h1 id="titulo">Problemas de conservacion</h1>
      <div class="col">
        <img
          src="assets/15.jpg"
          alt="Cementerio Central de Bogotá"
          class="img-fluid"
        />
        <p id="nombre">Ejemplo de erosión</p>
      </div>

      <div class="col">
        <p class="text-center">
          En cuanto a los problemas de conservación que se presentan en el
          cementerio. Uno de los más grandes recae sobre la erosión de la roca
          presente en las lápidas, mausoleos y estatuas. Esto se debe a que la
          roca es muy porosa y se desgasta con el paso del tiempo. Por otro lado,
          la falta de mantenimiento de las lápidas y mausoleos, hace que se
          deterioren con el paso del tiempo.
        </p>
      </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <p class="text-center">
          Otro de los problemas más presentes en este es la oxidación de las estatuas de bronce y cobre.
          Este se da debido a las condiciones climaticas de la ciudad de Bogotá y a el hecho de que estas estan expuestas al aire libre de manera constante.
          Esto genera una coloración verde en las estatuas y hace que se deterioren con el paso del tiempo.
          Sumado a esto, en estatuas como la de las hermanas. Hay un mito que dice que su le llevas dulces a la estatua, esta te concederá un milagro.
          Esto hace que miles de personas acudan y realicen este ritual. Generando más desgaste sobre este.
        </p>
      </div>
      <div class="col">
        <img
          src="assets/5.jpg"
          alt="Oxidación de las estatuas"
          class="img-fluid"
        />
        <p id="parque">Oxidación de las estatuas</p>
      </div>
      <hr />
    </div>
  </div>
</div>
