<section id="galeria">
  <div>
    <img src="assets/1.jpg" alt="imagen 1" />
  </div>
  <div>
    <img src="assets/2.jpg" alt="imagen 2" />
  </div>
  <div>
    <img src="assets/3.jpg" alt="imagen 3" />
  </div>
  <div>
    <img src="assets/4.jpg" alt="imagen 4" />
  </div>
  <div>
    <img src="assets/5.jpg" alt="imagen 5" />
  </div>
  <div>
    <img src="assets/6.jpg" alt="imagen 6" />
  </div>
  <div>
    <img src="assets/7.jpg" alt="imagen 7" />
  </div>
  <div>
    <img src="assets/8.jpg" alt="imagen 8" />
  </div>
  <div>
    <img src="assets/9.jpg" alt="imagen 9" />
  </div>
  <div>
    <img src="assets/10.jpg" alt="imagen 10" />
  </div>
  <div>
    <img src="assets/11.jpg" alt="imagen 11" />
  </div>
  <div>
    <img src="assets/12.jpg" alt="imagen 12" />
  </div>
  <div>
    <img src="assets/13.jpg" alt="imagen 13" />
  </div>
  <div>
    <img src="assets/14.jpg" alt="imagen 14" />
  </div>
  <div>
    <img src="assets/15.jpg" alt="imagen 15" />
  </div>
  <div>
    <img src="assets/16.jpg" alt="imagen 16" />
  </div>
  <div>
    <img src="assets/17.jpg" alt="imagen 17" />
  </div>
  <div>
    <img src="assets/18.jpg" alt="imagen 18" />
  </div>
  <div>
    <img src="assets/19.jpg" alt="imagen 19" />
  </div>
  <div>
    <img src="assets/20.jpg" alt="imagen 20" />
  </div>
  <div>
    <img src="assets/21.jpg" alt="imagen 21" />
  </div>
  <div>
    <img src="assets/22.jpg" alt="imagen 22" />
  </div>
  <div>
    <img src="assets/23.jpg" alt="imagen 23" />
  </div>
  <div>
    <img src="assets/24.jpg" alt="imagen 24" />
  </div>
  <div>
    <img src="assets/25.jpg" alt="imagen 25" />
  </div>
  <div>
    <img src="assets/26.jpg" alt="imagen 26" />
  </div>
</section>
