<div class="container text-center" id="header">
  <div class="row">
    <div class="col">
      <img src="https://static.wixstatic.com/media/69158d_1a3b8ef785894625ae035973c9661aef.jpg/v1/fill/w_960,h_470,al_c,q_85,enc_auto/69158d_1a3b8ef785894625ae035973c9661aef.jpg" alt="logo" class="img-fluid" />
    </div>
    <div class="col">
      <p>
        El cementerio central de Bogotá es el cementerio más antiguo y refutado
        en la ciudad de Bogotá, capital de Colombia. Fue construido por Pío
        Domínguez y Nicolás León, según los planos de Domingo Esquiaqui y puesto
        en servicio en 1836 por el gobernador Rufino Cuervo, bajo la presidencia
        de Francisco de Paula Santander. El cementerio se encuentra ubicado en
        el barrio Santa Fe, en la localidad de Los Mártires, frente a la avenida
        El Dorado con carrera 20. Por su significado histórico, valor
        arquitectónico y cultural fue declarado monumento nacional por el
        decreto 2390 del 26 de septiembre de 1984.
      </p>
    </div>
  </div>
  <hr/>
  <div class="row" >
    <a id="description">
      El Cementerio Central está ubicado entre las calles 24 y 26 y desde la
      transversal 17 hasta la carrera 22, en la localidad de Los Mártires de
      Bogotá. El cementerio se construyó contiguo a las instalaciones de la
      Legión británica que apoyó la independencia, otorgadas en 1829 y que
      posteriormente se destinaron al cementerio de los súbditos ingleses. El
      conjunto se divide en tres zonas, denominadas globos e identificadas con
      letras de la siguiente manera: el globo A constituye el sector antiguo
      del cementerio, el globo B es el sector en donde se encuentran las bóvedas
      y el globo C eran fosas comunes para muertos N.N. y actualmente es el
      Parque El Renacimiento. La transversal 20 y la carrera 22 se encuentran en
      medio de los tres globos que conforman el cementerio
    </a>
  </div>
  <hr/>

  <div class="row">
    <img src="assets/27.jpg" alt="logo" class="img-fluid" />
  </div>
</div>
