<div class="navbar">
    <a routerLink="/galeria" >Galeria</a>
    <a routerLink="/about" >Rocas y Materiales</a>
    <a id="titulo" href="#" routerLink=""><p>CEMENTERIO </p><p>CENTRAL</p></a>
    <a routerLink="/contact" >Art + Sci</a>
    <a routerLink="/login" >Historia</a>
    <div class="animation start-home"></div>
</div>

<div class="container-fluid" id="principal">
  <div class="row">
    <div class="col-md-12">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
 </div>
<app-materiales></app-materiales>
