<div class="navbar">
    <a class="nav-link active" routerLink="/gallery" >Galeria</a>
    <a class="nav-link active" routerLink="/materials" >Rocas y Materiales</a>
    <a id="titulo" routerLink=""><p>CEMENTERIO </p><p>CENTRAL</p></a>
    <a  class="nav-link active" routerLink="/art+sci" >Art + Sci</a>
    <a class="nav-link active" routerLink="/history" >Historia</a>
    <div class="animation start-home"></div>
</div>

<div class="container-fluid" id="principal">
  <div class="row">
    <div class="col-md-12">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
 </div>
