

.navbar {
  margin: 27 px auto 0;
  position: relative;
  width: 12000px;
  max-width: 100%;
  font-size: 0;
  top: 0;
  background-color: white;
}

.navbar a {
  line-height: 50 px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: black;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  font-style: italic;

}

.navbar .animation{
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

a:nth-child(1) {
  width: 20%;
}

a:nth-child(2) {
  width: 20%;
}

a:nth-child(3) {
  width: 20%;
}

a:nth-child(4) {
  width: 20%;
}

a:nth-child(5) {
  width: 20%;
}

.navbar .start-home, a:nth-child(1):hover ~ .animation {
  width: 20%;
  left: 0;
  background-color: #c0c0c0;
}

.navbar .start-about, a:nth-child(2):hover ~ .animation {
  width: 20%;
  left: 20%;
  background-color: #c0c0c0;
}

.navbar .start-cementerio, a:nth-child(3):hover ~ .animation {
  width: 20%;
  left: 40%;
  background-color: #c0c0c0;
}

.navbar .start-contact, a:nth-child(4):hover ~ .animation {
  width: 20%px;
  left: 60%;
  background-color: #c0c0c0;
}

.navbar .start-ayuda, a:nth-child(5):hover ~ .animation {
  width: 20%px;
  left: 80%;
  background-color: #c0c0c0;
}
body {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  background: #2c3e50;
}

span{
  color : #2BD6B4;
}

#titulo{
  color: black;
  text-decoration: none;
  font-size: 35px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: 500;
}
p{
  margin: 0px;
}
