<div class="container-fluid" id="historia">
  <div class="row">
    <div class="col">
      <p class="text-center">
        En todas las colonias españolas, los ciudadanos conservaron hasta el
        siglo XIX la costumbre de enterrar a los muertos en las iglesias. La
        primera iniciativa para la construcción de cementerios en las afueras de
        las ciudades fue la ley primera de 1787 emitida por el rey Carlos III,
        aunque esta no fue acogida sino hasta mucho tiempo después. El
        Cementerio Central fue proyectado inicialmente por solicitud emitida el
        11 de abril de 1791 por el virrey José Manuel de Ezpeleta y reiterada en
        1804, con los planos elaborados por el ingeniero y militar español
        Domingo Esquiaqui, quien llegó a Bogotá para ayudar a la reconstrucción
        de la ciudad después del terremoto de 1785. Sin embargo, este no se
        comenzó a construir sino hasta 1832. Previo a la construcción de este
        cementerio, el hospital San Juan de Dios tuvo a su cargo el cementerio
        "La Pepita", puesto en servicio en 1793 por el Arzobispo de Bogotá, pero
        por su connotación pública generó rechazo en la clase alta de la ciudad.
      </p>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <img
          src="assets\historia\pio.jpg"
          alt="Cementerio Central de Bogotá"
          class="img-fluid"
        />
        <p id="nombre">Pío Domínguez</p>
      </div>

      <div class="col">
        <p class="text-center">
          El alcalde ordinario de segunda nominación Buenaventura Ahumada
          Gutiérrez solicitó al Cabildo en 1822 la disposición de un terreno
          para la construcción del cementerio. Buenaventura Ahumada, quien era
          jefe político con funciones de policía en la ciudad, fue el primer
          ciudadano enterrado en el Cementerio Central. Finalmente el 15 de
          octubre de 1827 Simón Bolívar firmó un decreto en el cual prohibía los
          entierros en los templos de la ciudad y la construcción de un
          cementerio, este decreto fue ratificado por el intendente de
          Cundinamarca Pedro Alcántara Herrán. El cementerio fue construido por
          Pío Domínguez y Nicolás León al lado de las instalaciones de los
          súbditos ingleses, al costado sur de la vía que conducía a Fontibón.
          Fue puesto en servicio en 1836 por el gobernador Rufino Cuervo, bajo
          la presidencia de Francisco de Paula Santander e inicialmente se le
          llamó Cementerio Universal. No obstante, el cementerio ya se venía
          utilizando como tal desde 1832.
        </p>
      </div>
    </div>
    <hr />
    <div class="row">

      <p class="text-center">
        La capilla del Cementerio se construyó en 1839, financiada por el
        arzobispo Fernando Caicedo y Flórez. En 1856 el cementerio pasa de manos
        del gobierno a ser administrado por la Iglesia católica, pero solo seis
        años más tarde regresa a manos de la autoridad civil y poco después pasa
        a ser administrado por una Junta Especial. En 1888 se construye la
        galería exterior y entre 1904 y 1905 se le solicitó al arquitecto
        bogotano Julián Lombana la elaboración de una portada que reemplazara la
        original, la cual fue adornada por una estatua del dios del tiempo
        Cronos que tiene a su lado derecho un reloj de arena y al izquierdo una
        guadaña. La estatua fue modelada y vaciada en cemento por el escultor
        suizo Colombo Ramelli.
      </p>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <p class="text-center">
          El 9 de abril de 1948 en el cementerio se recibieron los cuerpos de
          cientos de personas que fallecieron durante El Bogotazo, los cuales
          fueron enterrados en la zona del actual Parque El Renacimiento.
          Entre 1948 y 1956 se construyeron cuatro bóvedas en el sector
          occidental del cementerio y con la construcción de las carreras 19 y
          19B para el paso del Trolebús, se conformaron los tres globos que
          conforman el conjunto. La resolución 003 del 12 de marzo de 1982
          propuso al Cementerio Central como Monumento Nacional de Colombia y en
          1984 recibió este título a través del decreto 2390 del 26 de
          septiembre de 1984.
        </p>
      </div>
      <div class="col">
        <img
          src="assets\historia\parque.jpg"
          alt="Cementerio Central de Bogotá"
          class="img-fluid"
        />
        <p id="parque">Parque El Renacimiento</p>
      </div>
      <hr />
    </div>
  </div>
</div>
