<div class="container-fluid" id="materiales">
  <div class="row">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/caliza.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Piedra Caliza</h1>
        </div>
        <div class="flip-card-back">
          <p>
            La caliza es una roca sedimentaria compuesta mayoritariamente por
            carbonato de calcio (CaCO3), generalmente calcita, aunque
            frecuentemente presenta trazas de magnesita (MgCO3) y otros
            carbonatos.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/andesita.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Andesita</h1>
        </div>
        <div class="flip-card-back">
          <p>
            La andesita es una roca ígnea volcánica de composición intermedia.
            Su composición mineral comprende generalmente plagioclasa y varios
            minerales ferromagnésicos como piroxeno, biotita y hornblenda.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/cobre.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Cobre</h1>
        </div>
        <div class="flip-card-back">
          <p>
            El cobre, cuyo símbolo es Cu, es el elemento químico de número
            atómico 29. Se trata de un metal de transición de color cobrizo, es
            decir, rojizo anaranjado de brillo metálico que, junto con la plata,
            el oro y el roentgenio forma parte de la llamada familia del cobre,
            se caracteriza por ser uno de los mejores conductores de
            electricidad.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/granito.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Granito</h1>
        </div>
        <div class="flip-card-back">
          <p>
            El granito es una roca ígnea intrusiva de color claro, de
            composición félsica formada esencialmente por cuarzo, feldespato
            alcalino, plagioclasa y mica.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/granitoNegro.jpg"
            alt="Granito Negro"
            style="width: 190px; height: 190px"
          />
          <h1>Granito Negro</h1>
        </div>
        <div class="flip-card-back">
          <p>
            Es una variedad rara de granito. Usado en la construcción de tumbas.
            Su coloración se debe a un cambio en la composición de la roca.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/ladrillo.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Ladrillo</h1>
        </div>
        <div class="flip-card-back">
          <p>
            Pieza de arcilla cocida, generalmente con forma de prisma
            rectangular, que se usa en la construcción de muros, paredes,
            pilares, etc.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/marmol.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Marmol</h1>
        </div>
        <div class="flip-card-back">
          <p>
            El mármol es una roca metamórfica compacta formada a partir de rocas
            calizas que, sometidas a elevadas temperaturas y presiones, alcanzan
            un alto grado de cristalización. El componente básico del mármol es
            el carbonato cálcico, cuyo contenido supera el 90%.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/arenisca.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Arenisca</h1>
        </div>
        <div class="flip-card-back">
          <p>
            La arenisca o psamita es una roca sedimentaria de tipo detrítico, de
            color variable, que contiene clastos de tamaño arena. Tras las
            lutitas son las rocas sedimentarias más comunes en la corteza
            terrestre.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/travertino.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Travertino</h1>
        </div>
        <div class="flip-card-back">
          <p>
            Travertino es la denominación de una roca sedimentaria de origen
            parcialmente biogénico formada por depósitos de carbonato de calcio
            y utilizada con frecuencia en construcción como piedra ornamental,
            tanto de exterior como de interior.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/bronce.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Bronce</h1>
        </div>
        <div class="flip-card-back">
          <p>
            El bronce es toda aleación de cobre y estaño, en la que el primero
            constituye la base y el segundo aparece en una proporción del 3% al
            20%. Puede incluir otros metales.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/basalto.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Basalto</h1>
        </div>
        <div class="flip-card-back">
          <p>
            El basalto es una roca ígnea extrusiva de color oscuro, de
            composición máfica —rica en silicatos de magnesio y hierro y en
            sílice—, que constituye una de las rocas más abundantes en la
            corteza terrestre
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/acero.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Acero</h1>
        </div>
        <div class="flip-card-back">
          <p>
            El acero es una aleación de hierro y carbono en un porcentaje de
            este último elemento variable entre el 0,008% y 2.11% en masa de su
            composición. La rama de la metalurgia que se especializa en producir
            acero se denomina siderurgia o acería.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
