<div class="container-fluid" id="materiales">
  <div class="row">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/caliza.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Piedra Caliza</h1>
        </div>
        <div class="flip-card-back">
          <h1>John Doe</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/andesita.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Andesita</h1>
        </div>
        <div class="flip-card-back">
          <h1>John Doe</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/cobre.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Cobre</h1>
        </div>
        <div class="flip-card-back">
          <h1>John Doe</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/granito.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Granito</h1>
        </div>
        <div class="flip-card-back">
          <h1>John Doe</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/granitoNegro.jpg"
            alt="Granito Negro"
            style="width: 190px; height: 190px"
          />
          <h1>Granito Negro</h1>
        </div>
        <div class="flip-card-back">
          <h1>John Doe</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/ladrillo.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Ladrillo</h1>
        </div>
        <div class="flip-card-back">
          <h1>John Doe</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/marmol.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Marmol</h1>
        </div>
        <div class="flip-card-back">
          <h1>John Doe</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/arenisca.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Arenisca</h1>
        </div>
        <div class="flip-card-back">
          <h1>John Doe</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/travertino.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Travertino</h1>
        </div>
        <div class="flip-card-back">
          <h1>John Doe</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/bronce.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Bronce</h1>
        </div>
        <div class="flip-card-back">
          <h1>John Doe</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/caliza.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Piedra Caliza</h1>
        </div>
        <div class="flip-card-back">
          <h1>John Doe</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="assets/materiales/caliza.jpg"
            alt="Roca"
            style="width: 190px; height: 190px"
          />
          <h1>Piedra Caliza</h1>
        </div>
        <div class="flip-card-back">
          <h1>John Doe</h1>
          <p>Architect & Engineer</p>
          <p>We love that guy</p>
        </div>
      </div>
    </div>
  </div>
</div>
