.flip-card {
  background-color: transparent;
  width: 275px;
  height: 300px;
  perspective: 1000px;
  margin-bottom: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
}

.flip-card-front {
  background-color:  #c0c0c0 ;
}

.flip-card-front h1{
  color:  rgb(0, 0, 0) ;
  font-family:'Playfair Display', serif;
  font-size: 30px;
}

.flip-card-front img {
  width: 220px;
  margin-top: 1rem;
  border-radius: 5px;
}

.flip-card-back {
  background-color:  #c0c0c0 ;
  color: #fff;
  transform: rotateY(180deg);
}

.flip-card-back img{
  width: 140px;
  margin-top: 1rem;
}

.flip-card-back p {
  margin-top: 1rem;
  font-size: 1rem;
  color: black;
  font-family: 'Playfair Display', serif;

}

.flip-card-back h1{
  margin-top: 10px;
}

#materiales{
  margin-top: 2rem;
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
}
